@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  padding: 10px;
  display: flex;
  justify-content: center;
  background-color: rgba(252, 252, 252, 0.133);
}
.header__logo {
  width: 250px;
}

.localisation {
  background-color: #e7e4e4;
  box-shadow: -1px 0 3px black;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
}

.localisation__icone {
  margin: 0 10px;
}

.slogan {
  padding: 2rem;
  text-align: center;
  background-color: #f3efef;
}
.slogan__title1 {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
.slogan__title2 {
  font-size: 20px;
  margin: 0 0 3rem;
  color: grey;
}
.slogan__button {
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 2rem;
  text-align: center;
  font-weight: 500;
  color: white;
  border-radius: 100px;
  box-shadow: 0px 9px 18px 2px rgba(0, 0, 0, 0.39);
  margin: 0 0 5rem;
  font-size: 20px;
}
.slogan__text {
  color: white;
  font-size: 15px;
}

.restaurant {
  background-color: #f3efef;
  display: grid;
  grid-template-columns: repeat 1, 1fr;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  padding: 1rem 1rem 5rem 1rem;
  margin: 0 auto;
  gap: 1rem;
}

.fonction {
  padding: 1rem;
}
.fonction__title2 {
  margin: 2rem 0;
}
.fonction__etapes {
  display: grid;
}

.etape {
  border-radius: 1.5rem;
  padding: 2rem;
  margin: 1rem 0 1rem 0.5rem;
  box-shadow: 0px 9px 18px 2px rgba(0, 0, 0, 0.39);
  background-color: #f5f3f3;
  position: relative;
}
.etape__chiffre {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -15px;
  color: white;
  border-radius: 100px;
  height: 2rem;
  width: 2rem;
  background-color: #9356DC;
  top: 28px;
}
.etape__icone {
  color: grey;
  margin: 0 1rem 0 1rem;
  display: inline-block;
  width: 20px;
  font-size: 20px;
}
.etape__texte {
  font-weight: 700;
}

/* Images */
.restaurant__img {
  display: block;
  border-radius: 1rem;
  position: relative;
  width: 100%;
  text-decoration: none;
  overflow: hidden;
  background-color: white;
  color: inherit;
}

.restaurant__img img {
  width: 100%;
  border: transparent solid 0px;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  height: 12rem;
}

.nouveau {
  position: absolute;
  color: #417c6e;
  padding: 0.5rem;
  top: 1rem;
  right: 0.75rem;
  background-color: #99E2D0;
}

.carte__footer {
  padding: 1rem;
}

/* Coeur */
.carte__heart--vide {
  position: absolute;
  bottom: 30px;
  right: 20px;
  font-size: 25px;
  cursor: pointer;
}

/* Footer */
footer {
  background-color: #3d3d3d;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5fr;
}

footer p {
  margin: 1rem;
  padding: 0 0 0 1rem;
}

.footer__para {
  color: white;
  margin: 1rem;
}

footer .fas {
  margin: 5px;
}

#footer__omf {
  font-family: "shrikhand";
  color: white;
  font-size: 20px;
}

/* palette.HTML */
.restaurant__img-link {
  width: 100%;
}

.carte {
  background-color: #f3f1f1;
  border-radius: 2rem 2rem 0 0;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat;
  gap: 1rem;
}
.carte__title1 {
  font-family: "shrikhand";
  margin: 2rem 0 0 1.5rem;
}
.carte__heart-menu--vide {
  position: absolute;
  bottom: 20px;
  right: 20px;
  margin: auto;
  font-style: 25px;
}
.carte__titre1 {
  margin: 0 0rem 0.5rem 1rem;
  border-bottom: 2px solid #99E2D0;
  font-weight: 500;
}
.carte__menu {
  border-radius: 1.5rem;
  background-color: white;
  box-shadow: 0px 5px 5px 2px rgba(112, 111, 111, 0.39);
  padding: 0.5rem;
  margin: 0.5rem;
}
.carte__plat {
  margin: 2px 0 0 15px;
  padding-bottom: 0.5rem;
}
.carte__description {
  margin: 0px 0 5px 15px;
}
.carte__prix {
  position: absolute;
  right: 20px;
  font-weight: 600;
}

.button {
  display: flex;
  justify-content: center;
  margin: 2rem 0 0 0;
}
.button__command {
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 2rem;
  text-align: center;
  font-weight: 500;
  color: white;
  border-radius: 2.5rem;
  box-shadow: 0px 9px 18px 2px rgba(0, 0, 0, 0.39);
  margin: 0;
  font-size: 20px;
}/*# sourceMappingURL=style.css.map */